.navbar {
    background: transparent;
    padding: 12px 0;
}

.navbar-brand  {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.navbar-brand:hover  {
    color: white;
}

.navbar-toggler-btn {
    background-color: transparent;
    outline: none;
    border: none;
}

.navbar-icon i {
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.navbar-icon .x {
    font-size: 30px;
    margin-right: 5px;
}

.navbar-nav {
    position: static;
}

.navbar-nav a {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 20px;
}

.navbar-nav a:hover {
    color: #FB9533;
}

@media screen and (min-width: 992px) {
    .navbar-icon {
        opacity: 0;
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        border-bottom: .5px solid rgba(255, 255, 255, 0.253);
    }
    .navbar-nav a {
        margin-left: 0px;
    }
}