body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 250, 250);
}

.custom-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #F1532E;
  color: white;
  border-radius: 50px;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.389);
  transition: .1s ease-in-out;
}

.custom-btn:hover {
  color: rgb(230, 230, 230);
  box-shadow: -5px -4px 15px rgba(0, 0, 0, 0.389);
  margin-left: 7px;
}

.custom-btn2:hover {
  color: rgb(230, 230, 230);
  box-shadow: -5px -4px 15px rgba(0, 0, 0, 0.389);
  margin-left: 7px;
}

.custom-btn2 {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #2197F9;
  color: white;
  border-radius: 50px;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.389);
  transition: .1s ease-in-out;
}

.custom-btn2:hover {
  color: rgb(241, 241, 241);
}


/* all section title */
.section-title {
  text-align: center;
  padding: 20px 0;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  word-spacing: 8px;
}


/* slick slider arrow color */
.slick-prev:before,
.slick-next:before {
  color: #1F9CF9 !important;
}
