body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(246, 246, 246);
}

.custom-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #F1532E;
  color: white;
  border-radius: 50px;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
  font-size: 17px;
}