body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(246, 246, 246); */
}

.custom-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #F1532E;
  color: white;
  border-radius: 50px;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.389);
}

.custom-btn:hover {
  color: rgb(241, 241, 241);
}

.custom-btn2 {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #2197F9;
  color: white;
  border-radius: 50px;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.custom-btn2:hover {
  color: rgb(241, 241, 241);
}

.section-title {
  text-align: center;
  padding: 20px 0;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}