.banner-container {
    background-image:  url('../../images/banner/background.jpg'), linear-gradient(#00D2FF, #3A7BD5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    padding-bottom: 30px;
}

.banner-img {
    text-align: center;
}

.banner-img img {
    width: 500px;
    animation: bannerImg 3s ease-in-out infinite;
}

.banner-text {
    margin-top: 90px;
    color: white;
    animation: bannerText 2.5s ease-in-out infinite;
}

.banner-text h1 {
    font-size: 46px;
    font-family: 'Rubik', sans-serif;
}

.banner-text h4 {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    word-spacing: 10px;
    font-weight: 300;
    font-size: 26px;
}

.banner-text p {
    color: rgb(231, 231, 231);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 17px;
    word-spacing: 2px;
}

.banner-btn {
    padding: 9px 25px;
    font-weight: 500;
}


@keyframes bannerImg {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }


@keyframes bannerText {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
  }
  

@media screen and (max-width: 991px) {
    .banner-text {
        margin-top: 35px;
    }

    .banner-text h1 {
        font-size: 36px;
    }

    .banner-text h4 {
        font-size: 20px;
    }

    .banner-text p {
        font-size: 15px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 767px) {
    .banner-text {
        margin-top: 20px;
        text-align: center;
    }
    .banner-text p {
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 360px) {
    .banner-text h1{
        font-size: 30px;
        letter-spacing: 1px;
    }
}